{erl_opts, [
%% 调试信息
    debug_info,
%% 头文件目录
    {i, "include"},
%% 源代码目录
    {src_dirs, ["src"]},
%% Lager 日志框架编译选项
    {parse_transform, lager_transform}
]}.
%% 依赖库文件目录,按照需要修改
{deps_dir, "deps"}.
%% 依赖库文件
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
]}.
%% 子目录
%% {sub_dirs, ["rel"]}.
